<!DOCTYPE html>

<html>
  <head>
    <link rel="stylesheet" href="./css/style.css" />
    <style src="./js/app.js"></style>
  </head>

  <body>
    <h1>Weather Application </h1>
  </body>
</html>
